<div class="card-container col-container g-16 p-24">
  <div class="row-container items-center space">
    <h2>{{ product.name }}</h2>

    <!-- Button Container -->
    <div class="row-container g-16" *ngIf="isAdmin">
      <button class="btn btn-accent" (click)="onEditClick()">Edit</button>
      <button class="btn btn-destructive" (click)="onDeleteClick()">
        Delete
      </button>
    </div>
  </div>

  <div class="row-container g-16">
    <p class="variant-card-container caption-text p-8 accent-text">
      Amount : {{ product.amount }}
    </p>

    <p class="variant-card-container caption-text p-8 secondary-text">
      Price Per Item : {{ product.pricePerItem }}
    </p>
  </div>

  <!-- Button Container for ordering -->
  <div class="row-container g-16 items-center">
    <button class="btn btn-accent" (click)="onIncreaseClick()">Add</button>
    <p class="primary-text body-text variant-card-container p-8">
      {{ userAmount }}
    </p>
    <button class="btn btn-destructive" (click)="onDecreaseClick()">Sub</button>

    <button
      class="btn btn-secondary"
      *ngIf="userAmount !== 0"
      (click)="onCounterButtonClick()"
    >
      {{ isAdmin ? "Add to Inventory" : "Add To Cart" }}
    </button>
  </div>
</div>
