<div class="grid-container">
  <!-- Product List Page -->
  <div
    class="card-container hover-variant col-container g-16 p-24"
    (click)="onProductListPageClick()"
  >
    <h3>Go to the products Page</h3>

    <p class="body-text muted-text">
      Click this to go to the
      <span class="primary-text">products page</span> where you can view all the
      products
    </p>
  </div>

  <!-- Product Add Page -->
  <div
    class="card-container hover-variant col-container g-16 p-24"
    (click)="onProductAddPageClick()"
  >
    <h3>Go to the products Add Page</h3>

    <p class="body-text muted-text">
      Click this to go to the
      <span class="primary-text">products page</span> where you can view all the
      products
    </p>
  </div>

  <!-- Order Page -->
  <div
    class="card-container hover-variant col-container g-16 p-24"
    (click)="onOrderListPageClick()"
  >
    <h3>Go to the Order Page</h3>

    <p class="body-text muted-text">
      Click this to go to the
      <span class="primary-text">products page</span> where you can view all the
      products
    </p>
  </div>
</div>
